body{
    margin: opx;
    background-color: #000000;
    color: #ffffff;
}
#rolagem {
    height: 520px; /* altura padrão pra galeria */
    margin-bottom: 10px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow: hidden;/* tirar a barra de rolagem */

}

.caixa-miniatura{
    border:1px solid #999;
    width: 100px;
    display:inline-block;
    margin-left: 2px;
    margin-right: 2px;
    padding: 0px;
    overflow: hidden;
    height: 57px;
}

#miniaturas {
    display: flex;
    text-align:center;
    position: fixed;
    justify-content: center;
    bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 0px;
    /* box-shadow: 1px 1px 5px wheat; */
    border-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #000000;
}